<nav class="navigation">
    <div class="title">
        <h1>Blogs Spot</h1>
        <span>Blogs that neve lies</span>
    </div>
    <div class="navs">
        <a href="/">Home</a>
        <a href="/about">about</a>

    </div>
</nav>   