<!DOCTYPE html>
<html>
    <%- include('./components/head.ejs') %>

<body>
    <%- include('./components/nav.ejs') %>
  
    <div class="about-body">
        <h2>About Us</h2>
        <p>
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
        </p>
        <p>
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
        </p>
        <p>
            "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
            "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
        </p>
        
    </div>
</body>
</html>