<!DOCTYPE html>
<html>
    <%- include('./components/head.ejs') %>
<body>
    <%- include('./components/nav.ejs') %>
    <div class="form_body"> 
        <form class="forms">
            <label for="title">Title</label> 
            <input type="text" id="Title" placeholder="This is Title " name="title">
            <label for="subject">Subject</label> 
            <input type="text" id="subject" placeholder="This is Subject" name="title">
            <label for="Blog">Blog</label> 
            <textarea id="Blog"></textarea>
            <button id="submit">Send</button>
        </form>
    </div>
</body>
</html>