<!DOCTYPE html>
<html>
    <%- include('./components/head.ejs') %>
<body>
    <%- include('./components/nav.ejs') %>
    <div class="form_body"> 
        <form class="forms" action="/create-blogs" method="POST" >
            <label for="title">Title</label> 
            <input type="text" id="Title" placeholder="This is Title " name="title">
            <label for="subject">Subject</label> 
            <input type="text" id="subject" placeholder="This is Subject" name="subject">
            <label for="Blog">Blog</label> 
            <textarea id="Blog" name="blog"></textarea>
            <button id="submit">SUBMIT</button>
        </form>
    </div>
</body>
</html>