<!DOCTYPE html>
<html>
    <%- include('./components/head.ejs') %>
<body>
    <%- include('./components/nav.ejs') %>
    <div>
        <h2>All Blogs</h2>
        <% if(blogs.length > 0){ %>
            <% blogs.forEach(blog=>{ %>

                <h3 class="title"><%= blog.title  %></h3>
                <span><%= blog.subject  %> </span>
            <% }) %>
        <% } else { %>
            <p>there are no blogs to display.....</p>
        <% } %>
    </div>
</body>
</html>