body{
    max-width: 1200px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px auto;
    padding: 0 20px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}
.navs{
    border-color:1px solid red ;
}